body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.image-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-container {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 200px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
h1 {
  text-align: center;
  margin-top: 100px;
}
