* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(
    90deg,
    rgba(178, 178, 178, 1) 0%,
    rgba(67, 67, 67, 1) 35%,
    rgba(7, 7, 7, 1) 100%
  );
  z-index: 100;
}


