.videoContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height */
}

.videoWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  object-fit: cover; /* Cover the entire area */
  z-index: 10; /* Behind the content */
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 20px; /* Adjust as needed */
  z-index: 20; /* Above the video */
}

.title {
  font-size: 2.5rem; /* Adjust for mobile */
  color: white;
  margin-top: 3rem; /* Adjust as needed */
  text-align: center;
  letter-spacing: 0.1em; /* Adjust for tracking */
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem; /* Adjust for larger screens */
  }
}
